<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.github.tschaefer.finch.agent</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/alloy</string>
		<string>run</string>
		<string>--storage.path=/var/lib/alloy/data</string>
		<string>--disable-reporting=true</string>
		<string>/etc/alloy/alloy.config</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/var/lib/alloy</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/var/log/alloy.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/alloy.log</string>
</dict>
</plist>
