logging {
  level = "info"
}

loki.write "default" {
  endpoint {
    url = "http://loki:3100/loki/api/v1/push"
  }
  external_labels = {
    "host" = "{{ .Hostname }}",
  }
}

discovery.docker "linux" {
  host = "unix:///var/run/docker.sock"
}

loki.relabel "docker" {
  forward_to = []

  rule {
    source_labels = ["__meta_docker_container_name"]
    regex = "/(.*)"
    target_label = "service_name"
  }
}

loki.source.docker "docker" {
  host       = "unix:///var/run/docker.sock"
  targets    = discovery.docker.linux.targets
  labels     = {
    "platform" = "docker",
  }
  relabel_rules = loki.relabel.docker.rules
  forward_to = [loki.write.default.receiver]
}

prometheus.remote_write "default" {
  endpoint {
    url = "http://mimir:8080/api/v1/push"
  }
  external_labels = {
    "host" = "{{ .Hostname }}",
  }
}

prometheus.exporter.unix "node" {
  include_exporter_metrics = true
  rootfs_path = "/host"
  procfs_path = "/host/proc"
  sysfs_path = "/host/sys"
  udev_data_path = "/host/run/udev/data"
}

prometheus.scrape "node" {
  targets    = prometheus.exporter.unix.node.targets
  forward_to = [prometheus.remote_write.default.receiver]
  scrape_interval = "15s"
}

prometheus.exporter.blackbox "services" {
  config = `{
    modules: {
      tcp:      { prober: tcp },
      http_2xx: { prober: http }
    }
  }`
  target {
    name    = "traefik"
    address = "traefik:443"
    module  = "tcp"
  }
  target {
    name    = "finch"
    address = "http://finch:3003/healthz"
    module  = "http_2xx"
  }
  target {
    name    = "mimir"
    address = "http://mimir:8080/ready"
    module  = "http_2xx"
  }
  target {
    name    = "loki"
    address = "http://loki:3100/ready"
    module  = "http_2xx"
  }
  target {
    name    = "pyroscope"
    address = "http://pyroscope:4040/ready"
    module  = "http_2xx"
  }
}

prometheus.scrape "services" {
  targets         = prometheus.exporter.blackbox.services.targets
  forward_to      = [prometheus.remote_write.default.receiver]
  scrape_interval = "15s"
}
