logging {
  level = "info"
}

loki.write "default" {
  endpoint {
    url = "http://loki:3100/loki/api/v1/push"
  }
  external_labels = {
    "host" = "{{ .Hostname }}",
  }
}

discovery.docker "linux" {
  host = "unix:///var/run/docker.sock"
}

loki.relabel "docker" {
  forward_to = []

  rule {
    source_labels = ["__meta_docker_container_name"]
    regex = "/(.*)"
    target_label = "service_name"
  }
}

loki.source.docker "docker" {
  host       = "unix:///var/run/docker.sock"
  targets    = discovery.docker.linux.targets
  labels     = {
    "platform" = "docker",
  }
  relabel_rules = loki.relabel.docker.rules
  forward_to = [loki.write.default.receiver]
}

prometheus.remote_write "default" {
  endpoint {
    url = "http://prometheus:9090/api/v1/write"
  }
  external_labels = {
    "host" = "{{ .Hostname }}",
  }
}

prometheus.exporter.unix "node" {
  include_exporter_metrics = true
  enable_collectors = [
    "systemd",
  ]
  rootfs_path = "/host"
}

prometheus.scrape "node" {
  targets    = prometheus.exporter.unix.node.targets
  forward_to = [prometheus.remote_write.default.receiver]
}

