{
    "created_at": "{{.CreatedAt}}",
    "database": "{{.Database}}",
    "hostname": "{{.Hostname}}",
    "id": "{{.Id}}",
    "profiler": "{{.Profiler}}",
    "secret": "{{.Secret}}",
    "version": "{{.Version}}"
}
