{
    "created_at": "{{.CreatedAt}}",
    "database": "{{.Database}}",
    "hostname": "{{.Hostname}}",
    "id": "{{.Id}}",
    "secret": "{{.Secret}}",
    "version": "{{.Version}}",
    "credentials": {
        "username": "{{.Credentials.Username}}",
        "password": "{{.Credentials.Password}}"
    }
}
