---
http:
  routers:
    grafana:
      rule: PathPrefix(`/grafana`) {{ .HostRule }}
      entrypoints:
        - websecure
      service: grafana
      tls: true

    loki:
      rule: PathPrefix(`/loki`) {{ .HostRule }}
      entrypoints:
        - websecure
      service: loki
      middlewares:
        - strip-loki-prefix
        - loki-auth
      tls: true

    finch:
      rule: PathPrefix(`/finch`) {{ .HostRule }}
      entrypoints:
        - websecure
      service: finch
      middlewares:
        - strip-finch-prefix
      tls: true

    prometheus:
      rule: PathPrefix(`/prometheus`) {{ .HostRule }}
      entrypoints:
        - websecure
      service: prometheus
      middlewares:
        - strip-prometheus-prefix
        - loki-auth
      tls: true

  services:
    grafana:
      loadBalancer:
        servers:
          - url: http://grafana:3000

    loki:
      loadBalancer:
        servers:
          - url: http://loki:3100

    finch:
      loadBalancer:
        servers:
          - url: http://finch:3000

    prometheus:
      loadBalancer:
        servers:
          - url: http://prometheus:9090

  middlewares:
    strip-loki-prefix:
      stripprefix:
        prefixes:
          - "/loki"

    strip-finch-prefix:
      stripprefix:
        prefixes:
          - "/finch"

    strip-prometheus-prefix:
      stripprefix:
        prefixes:
          - "/prometheus"

tls:
  certificates:
    - certfile: /etc/traefik/certs.d/cert.pem
      keyfile: /etc/traefik/certs.d/key.pem
